<div class="demo-container">
  <main>
    <lib-carousel
      hostClass="demo-carousel"
      [items]="carouselItems"
      [autoPlay]="true"
      [autoPlayInterval]="5000"
      [showArrows]="true"
      [showDots]="true"
      [showOverlay]="false"
      [overlayPosition]="'center'"
      [maxWidth]="'1400px'"
      [slideHeight]="'400px'"
      [sideSlideScale]="0.9"
      [activeSlideScale]="1.12"
      [slideGap]="'12px'"
      [containerPadding]="'32px'"
      [dotColor]="'#dbe7f5'"
      [dotActiveColor]="'#8bb8ff'"
      [containerStyle]="{ '--carousel-slide-radius': '18px', '--carousel-nav-bottom': '95px', '--carousel-dots-bottom': '88px', '--carousel-wrapper-align-items': 'flex-start', '--carousel-slide-margin-y': '0px' }"
      (slideChange)="onSlideChange($event)"
    ></lib-carousel>
  </main>
</div>

