.angular/
.vscode/
.idea/
*.log
*.tsbuildinfo
node_modules/
projects/
.angular/
dist/
out-tsc/
coverage/
*.md
!README.md
.git/
.gitignore
.editorconfig
.npmignore
angular.json
tsconfig.json
karma.conf.js
*.spec.ts
src/




